.main-title{
    color: var(--colorLetraFuerte);
    font-size: 25px;
    margin-top: 1.2em;
}
.cart-vacio{
    color: var(--colorLetraFuerte);
}
.item-cart-container img{
    width: 6em;
}
.item-cart-container{
    
    display: flex;
    align-items: center;
    gap: 5rem;
    position: relative;
    width: 100%;

}
.imagen-titulo-cantidad-container{
    display: flex;
    align-items: center;
}
.separador-cart{
    background-color: var(--colorLetraFuerte);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0.5vh;
}


.item-cart-container h2{
    font-size: 16px;
    color: var(--colorLetra);
    font-weight: 500;
    width: 8em;
}
.item-cart-container p{
    font-size: 14px;
}
.price span{
    font-weight: 700;
    color: var(--colorLetraFuerte);
    font-size: 16px;
}
.total-cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 2em;
    width: 100%;
    margin-top: 1.5em;
}
.precio-total{
    font-size: 18px;
    color: var(--colorLetraFuerte);
}
.buttons-container{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 15em;
    margin-top: 0.5em;
}
.buttons-container button{
    background-color: var(--colorLetraFuerte);
    color: #fff;
    border-radius: 0.5em;
    border: none;
    padding: 0.5em;
}
.borrarTarea{
    position: absolute;
    top: 5%;
    right: 6%;
    color: red;
    cursor: pointer;
}